In [1]:
import pandas as pd

In [4]:
from nba_api.stats.endpoints.commonteamroster import CommonTeamRoster
from nba_api.stats.endpoints.commonteamyears import CommonTeamYears

In [4]:
teams = CommonTeamYears().get_data_frames()[0]

In [46]:
teams

   LEAGUE_ID     TEAM_ID MIN_YEAR MAX_YEAR ABBREVIATION
0         00  1610612737     1949     2020          ATL
1         00  1610612738     1946     2020          BOS
2         00  1610612739     1970     2020          CLE
3         00  1610612740     2002     2020          NOP
4         00  1610612741     1966     2020          CHI
5         00  1610612742     1980     2020          DAL
6         00  1610612743     1976     2020          DEN
7         00  1610612744     1946     2020          GSW
8         00  1610612745     1967     2020          HOU
9         00  1610612746     1970     2020          LAC
10        00  1610612747     1948     2020          LAL
11        00  1610612748     1988     2020          MIA
12        00  1610612749     1968     2020          MIL
13        00  1610612750     1989     2020          MIN
14        00  1610612751     1976     2020          BKN
15        00  1610612752     1946     2020          NYK
16        00  1610612753     1989     2020          ORL
17        00  1610612754     1976     2020          IND
18        00  1610612755     1949     2020          PHI
19        00  1610612756     1968     2020          PHX
20        00  1610612757     1970     2020          POR
21        00  1610612758     1948     2020          SAC
22        00  1610612759     1976     2020          SAS
23        00  1610612760     1967     2020          OKC
24        00  1610612761     1995     2020          TOR
25        00  1610612762     1974     2020          UTA
26        00  1610612763     1995     2020          MEM
27        00  1610612764     1961     2020          WAS
28        00  1610612765     1948     2020          DET
29        00  1610612766     1988     2020          CHA
30        00  1610610023     1949     1949         None
31        00  1610610024     1947     1954         None
32        00  1610610025     1946     1949         None
33        00  1610610026     1946     1946         None
34        00  1610610027     1949     1949         None
35        00  1610610028     1946     1946         None
36        00  1610610029     1948     1948         None
37        00  1610610030     1949     1952         None
38        00  1610610031     1946     1946         None
39        00  1610610032     1946     1948         None
40        00  1610610033     1949     1949         None
41        00  1610610034     1946     1949         None
42        00  1610610035     1946     1946         None
43        00  1610610036     1946     1950         None
44        00  1610610037     1949     1949         None

In [47]:
teams.to_csv('/Users/johnschroeder/Documents/gambling_stuff/data/01_raw/nba_teams/current.csv', index=False)

In [5]:
len(teams)

45

In [12]:
dfs = CommonTeamRoster(season='2019-20', team_id='1610612737')

In [13]:
dfs.get_data_frames()[0]

,TeamID,SEASON,LeagueID,PLAYER,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID
0,1610612737,2019,00,Brandon Goodwin,brandon-goodwin,0,G,6-0,180,"OCT 02, 1995",24.0,1,Florida Gulf Coast,1629164
1,1610612737,2019,00,Jeff Teague,jeff-teague,00,G,6-3,195,"JUN 10, 1988",32.0,10,Wake Forest,201952
2,1610612737,2019,00,Treveon Graham,treveon-graham,2,G-F,6-5,219,"OCT 28, 1993",26.0,3,Va Commonwealth,1626203
3,1610612737,2019,00,Kevin Huerter,kevin-huerter,3,G-F,6-7,190,"AUG 27, 1998",21.0,1,Maryland,1628989
4,1610612737,2019,00,Charlie Brown Jr.,charlie-brown-jr,4,G,6-6,199,"FEB 02, 1997",23.0,R,St. Joseph's (PA),1629718
5,1610612737,2019,00,Skal Labissiere,skal-labissiere,7,F-C,6-10,235,"MAR 18, 1996",24.0,3,Kentucky,1627746
6,1610612737,2019,00,Trae Young,trae-young,11,G,6-1,180,"SEP 19, 1998",21.0,1,Oklahoma,1629027
7,1610612737,2019,00,De'Andre Hunter,deandre-hunter,12,F-G,6-7,225,"DEC 02, 1997",22.0,R,Virginia,1629631
8,1610612737,2019,00,Dewayne Dedmon,dewayne-dedmon,14,C,7-0,245,"AUG 12, 1989",30.0,6,USC,203473
9,1610612737,2019,00,Clint Capela,clint-capela,15,C,6-10,240,"MAY 18, 1994",26.0,5,Elan Chalon,203991
10,1610612737,2019,00,Vince Carter,vince-carter,15,G-F,6-6,220,"JAN 26, 1977",43.0,21,North Carolina,1713
11,1610612737,2019,00,John Collins,john-collins,20,F,6-9,235,"SEP 23, 1997",22.0,2,Wake Forest,1628381
12,1610612737,2019,00,Cam Reddish,cam-reddish,22,F-G,6-8,218,"SEP 01, 1999",20.0,R,Duke,1629629
13,1610612737,2019,00,Bruno Fernando,bruno-fernando,24,F-C,6-9,240,"AUG 15, 1998",21.0,R,Maryland,1628981
14,1610612737,2019,00,Damian Jones,damian-jones,30,C,6-11,245,"JUN 30, 1995",25.0,3,Vanderbilt,1627745
15,1610612737,2019,00,DeAndre' Bembry,deandre-bembry,95,G-F,6-5,210,"JUL 04, 1994",25.0,3,St. Joseph's (PA),1627761

In [1]:
from nba_api_scripts.team import *

In [11]:
teams.dtypes

LEAGUE_ID       object
TEAM_ID          int64
MIN_YEAR        object
MAX_YEAR        object
ABBREVIATION    object
dtype: object

In [12]:
team_ids = list(teams.query('MAX_YEAR == "2020"')['TEAM_ID'])

In [14]:
import pandas as pd

In [17]:
from time import sleep
from random import uniform

In [45]:
for _, team_id in enumerate(team_ids):
    print(team_id)
    sleep(uniform(1.5, 3))
    raw_roster = get_team_season_roster('2020-21', team_id)
    raw_roster.to_csv(f'/Users/johnschroeder/Documents/gambling_stuff/data/01_raw/nba_rosters/{team_id}.csv', index=False)

1610612737
1610612738
1610612739
1610612740
1610612741
1610612742
1610612743
1610612744
1610612745
1610612746
1610612747
1610612748
1610612749
1610612750
1610612751
1610612752
1610612753
1610612754
1610612755
1610612756
1610612757
1610612758
1610612759
1610612760
1610612761
1610612762
1610612763
1610612764
1610612765
1610612766

In [21]:
roster = get_team_season_roster('2020-21', '1610612737')

In [25]:
player_ids = list(roster['PLAYER_ID'].unique())

In [24]:
from glob import glob

In [27]:
base_path = '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info'

In [28]:
from pathlib import Path

In [34]:
str(Path(base_path).joinpath('708.csv'))

'/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/708.csv'

In [35]:
Path(base_path).joinpath('708.csv')

PosixPath('/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/708.csv')

In [39]:
Path('/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info').rglob('*.csv')

In [43]:
player_ids

[1629164,
 1630233,
 1628989,
 1630219,
 201568,
 1629027,
 1629631,
 203992,
 203991,
 1630168,
 203524,
 203503,
 1628381,
 1629629,
 101150,
 1628981,
 1627739]

In [44]:
[x for x in glob('/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/*.csv') if int(Path(x).stem) in player_ids]

['/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/203991.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/203992.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1627739.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1628989.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1628381.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1630219.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1629629.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/203503.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1630233.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1629164.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/101150.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1630168.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1629027.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/203524.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1629631.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/201568.csv',
 '/Users/johnschroeder/Documents/gambling_stuff/data/nba_player_info/1628981.csv']

In [26]:
player_ids

[1629164,
 1630233,
 1628989,
 1630219,
 201568,
 1629027,
 1629631,
 203992,
 203991,
 1630168,
 203524,
 203503,
 1628381,
 1629629,
 101150,
 1628981,
 1627739]

In [55]:
base_data_path = Path.cwd().joinpath("data")
teams_df = (
    pd
    .read_csv(
        Path(base_data_path).joinpath("01_raw", "nba_teams", "current.csv")
    )[['TEAM_ID', 'ABBREVIATION']]
    .rename(columns={'ABBREVIATION': 'TEAM_ABBREVIATION'})
)

In [56]:
teams_df.head()

      TEAM_ID TEAM_ABBREVIATION
0  1610612737               ATL
1  1610612738               BOS
2  1610612739               CLE
3  1610612740               NOP
4  1610612741               CHI

In [57]:
from glob import glob

In [58]:
raw_roster_files = glob('/Users/johnschroeder/Documents/gambling_stuff/data/01_raw/nba_rosters/*.csv')

In [59]:
curated_roster_cols = [
        "TEAM_ID",
        "TEAM_ABBREVIATION",
        "PLAYER_ID",
        "PLAYER_NAME",
        "PLAYER_SLUG",
        "POSITION",
        "HEIGHT",
        "WEIGHT",
        "AGE",
    ]

In [63]:
all_rosters.columns

Index(['TeamID', 'SEASON', 'LeagueID', 'PLAYER', 'PLAYER_SLUG', 'NUM',
       'POSITION', 'HEIGHT', 'WEIGHT', 'BIRTH_DATE', 'AGE', 'EXP', 'SCHOOL',
       'PLAYER_ID'],
      dtype='object')

In [67]:
all_rosters = (
    pd
    .concat([pd.read_csv(x) for x in raw_roster_files])
    .rename(columns={
        'TeamID': 'TEAM_ID', 
        'PLAYER': 'PLAYER_NAME',
        'EXP': 'EXPERIENCE'})
)

In [71]:
teams_df = pd.read_csv('/Users/johnschroeder/Documents/gambling_stuff/data/01_raw/nba_teams/current.csv').rename(columns={'ABBREVIATION': 'TEAM_ABBREVIATION'})

In [72]:
final_cols = ['TEAM_ID', 'TEAM_ABBREVIATION', 'PLAYER_ID','PLAYER_NAME', 'PLAYER_SLUG', 'POSITION', 'HEIGHT','WEIGHT','AGE','EXPERIENCE']

In [74]:
final_df = (
    pd
    .merge(all_rosters, teams_df, on='TEAM_ID')
    [final_cols]
)

In [75]:
final_df.head()

,TEAM_ID,TEAM_ABBREVIATION,PLAYER_ID,PLAYER_NAME,PLAYER_SLUG,POSITION,HEIGHT,WEIGHT,AGE,EXPERIENCE
0,1610612737,ATL,1629164,Brandon Goodwin,brandon-goodwin,G,6-0,180,25.0,2
1,1610612737,ATL,1630233,Nathan Knight,nathan-knight,F-C,6-10,253,23.0,R
2,1610612737,ATL,1628989,Kevin Huerter,kevin-huerter,G-F,6-7,190,22.0,2
3,1610612737,ATL,1630219,Skylar Mays,skylar-mays,G,6-4,205,23.0,R
4,1610612737,ATL,201568,Danilo Gallinari,danilo-gallinari,F,6-10,233,32.0,11

In [76]:
final_df.to_csv('/Users/johnschroeder/Documents/gambling_stuff/data/02_curated/nba_rosters/current.csv', index=False)